<html>
<head>
  <meta charset='utf-8'>
  <title>#sg15 | Unofficial General Election 2015</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,100,300,600,700' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" type="text/css" href="/stylesheets/result.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/skeleton.css" />

</head>
<body>
  <% if(error) {%>
    <span class="alert">
      <%= error %>
      <img class="close" src='/images/close.png' width="20" />
    </span>
  <% } %>
  <% if(user) { %>
    <nav class='navbar'>
      <ul class='navbar-list'>
        <li class="navbar-item icon">
          <img width="40" src="/images/icon.svg">
        </li>
        <li class='navbar-item navbar-facebook-logout'>
          <a class='facebook-logout' href='/logout'>Log out </a>
        </li>
        <li class='navbar-item navbar-profile'>
          <img class='user-profile' src='<%= user.image %>' />
        </li>
        <li class='navbar-item navbar-username'>
          <span class='user-name'><%= user.name.split(' ')[0] %></span>
        </li>
      </ul>
    </nav>
  <% } %>

  <div class='container main-content' >
    <% if(user.vote && user.vote.division) { %>
      <div id='pieChartContainer'></div>
      <div class='no-result' id='no-result' style='display: none;'>
        <img src='/images/dizzy.png' class='error-image' />
        <h3 class='text-center error-desc'>It seems that your friends have not voted for a party yet</h3>
        <h4 class='text-center text-bold error-details'>Share this with your friends</h4>
      </div>
      <div class="btn-panel row" id='share-facebook-btn' style='display: none;'>
        <button class='btn share-facebook-btn'>Share this on facebook</button>
      </div>
    <% } else { %>
      <div class='no-vote' id='no-vote'>
        <img src='/images/stop.png' class='error-image' />
        <h3 class='text-center error-desc'>It seems that you have not voted yet. Voting results will only be displayed after you vote.</h3>
      </div>
      <div class="btn-panel row">
        <a class='btn voting-btn' href='/'>Go to Voting Page</a>
      </div>
    <% } %>
  </div>
  <script type="text/javascript">
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1474451976210615',
        xfbml      : true,
        version    : 'v2.4'
      });
    };
    (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="/javascripts/result.js"></script>
  <% if(error) {%>
    <script>
      $('.close').on('click', function () {
        $('.alert').fadeOut('2000');
        $('.alert').remove();
      });
    </script>
  <% } %>
</body>
</html>