<html>
<head>
  <meta charset='utf-8'>
  <title>#sg15 | Unofficial General Election 2015</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,100,300,600,700' rel='stylesheet' type='text/css' />

  <link rel="stylesheet" type="text/css" href="/stylesheets/result.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/vendor/skeleton.css" />
</head>
<body>
  <div class="container">

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/modernizr.custom.js"></script>
  <script type="text/javascript" src="/javascripts/vendor/highcharts/highcharts.js"></script>

</body>
</html>