<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>#sg15 | Unofficial General Election 2015</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,100,300,600,700' rel='stylesheet' type='text/css' />
	<link type="text/css" rel="stylesheet" href="stylesheets/vendor/normalize.css" />
	<link type="text/css" rel="stylesheet" href="stylesheets/vendor/skeleton.css" />
	<link type="text/css" rel="stylesheet" href="stylesheets/welcome.css" />
</head>
<body>
	<% if(error) {%>
		<span class="alert">
			<%= error %>
			<img class="close" src='/images/close.png' width="20" />
		</span>
	<% } %>
	<% if(user) { %>
		<nav class='navbar'>
			<ul class='navbar-list'>
				<li class="navbar-item icon">
					<img width="40" src="/images/icon.svg">
  			</li>
				<li class='navbar-item navbar-facebook-logout'>
					<a class='facebook-logout' href='/logout'>Log out </a>
				</li>
				<li class='navbar-item navbar-profile'>
					<img class='user-profile' src='<%= user.image %>' />
				</li>
				<li class='navbar-item navbar-username'>
					<span class='user-name'><%= user.name.split(' ')[0] %></span>
				</li>
			</ul>
		</nav>
	<% } %>

	<div class="main-panel">
		<div class="content">
			<div class="icon-header">
					<img src="/images/icon.svg" />
			</div>
			<h1 class="hashtag">#GE<span class="year">2015</span></h1>
			<a class="button enter-btn" href="/">Enter unofficial general election site</a>
<!-- 			<hr class="divider" />
			<a class="button vote-btn" href="/auth/facebook">Login with facebook to vote</a> -->
		</div>
		<a class="button arrow-down" href="#">
			<img width="30" height="30" src="/images/arrowdown.svg" />
		</a>
	</div>
	<div class="features-panel">
		<div class="container">
			<div class="row">
				<div class="feature">
					<h3>Election Information</h3>
					<img src="/images/know.svg" width="150" />
					<p>Get to know the candidates contesting in your constituency</p>
				</div>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">
		$('.main-panel').height($(window).height());
		$(window).on('resize', function () {
			$('.main-panel').height($(window).height());
		});
		$('.arrow-down').on('click', function (e) {
			e.preventDefault();
			var top = $(window).scrollTop();
			var featureHeight = $('.main-panel').innerHeight();
			if(top < featureHeight) {
				$('html, body').animate({scrollTop: featureHeight+'px'}, 1000);
			}
		});
	</script>
	<% if(error) {%>
		<script>
			$('.close').on('click', function () {
				$('.alert').fadeOut('2000');
				$('.alert').remove();
			});
		</script>
	<% } %>
</body>
</html>