<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Unofficial General Election 2015</title>
	<link href='//fonts.googleapis.com/css?family=Raleway:400,100,300,600,700' rel='stylesheet' type='text/css' />
	<link type="text/css" rel="stylesheet" href="stylesheets/vendor/normalize.css" />
	<link type="text/css" rel="stylesheet" href="stylesheets/vendor/skeleton.css" />
	<link type="text/css" rel="stylesheet" href="stylesheets/welcome.css" />
</head>
<body>
	<div class="main-panel">
		<div class="content">
			<h1 class="hashtag">#GE<span style="color: #ffffff">2015</span></h1>
			<a class="button enter-btn">Enter unoffical general election site</a>
		</div>
		<a class="button arrow-down" href="#">
			<img width="30" height="30" src="images/arrowdown.svg" />
		</a>
	</div>
	<div class="features-panel">
		<div class="container">
			<div class="row">
				<div class="one-third column">
					<h3>Election information</h3>
					<p>Know parties and candidates contesting in your division.</p>
				</div>
				<div class="one-third column">
					<h3>Largest online poll</h3>
					<p>Take part in the largest online poll on singapore general election and get the election results immediately.</p>
				</div>
				<div class="one-third column">
					<h3>Know your friends' political affliation</h3>
					<p>Get to know your the composition of your friends' political affliation.</p>
				</div>
			</div>
		</div>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript">
		$('.main-panel').height($(window).height());
		$(window).on('resize', function () {
			$('.main-panel').height($(window).height());
		});
		$('.arrow-down').on('click', function () {
			var top = $(window).scrollTop();
			if(top > 0) {
				$('html, body').animate({scrollTop: '0px'}, 1000);	
			} else {
				$('html, body').animate({scrollTop: '300px'}, 1000);
			}
		});
	</script>
</body>
</html>