html,body {
  height:100%;
  margin:0;
}

body {
  padding-top: 65px;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 500;
}

/* Navigation bar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: transparent;
  z-index: 1000;
  padding: 10px 5px;
}

.navbar-list {
  margin: 0;
  list-style: none;
}

.navbar-item {
  float: right;
  font-family: 'Raleway';
  color: #222222;
  line-height: 40px;
  padding-top: 5px;
  margin: 0;
  padding: 0 10px;
  font-weight: 600;
  padding: 0 10px;
}

.navbar-item.icon {
  float:left;
}

.navbar-item.icon img {
  width: 40px;
}

.navbar-item.navbar-profile img {
  width: 40px;
  border-radius: 50%;
}

.facebook-logout {
  text-decoration: none;
  color: #222;
  opacity: 0.8;
}

.facebook-logout:hover {
  opacity: 1.0;
}

.no-result {
  width: 100%;
  margin-top: 20px;
}

.error-image {
  display: block;
  margin: auto;
}

.error-desc {
  margin-bottom: 10px;
}

.error-details {

}

.btn-panel {
  text-align: center;
  margin-top: 40px;
}

.btn {
  color: #ffffff;
  height: 50px;
  font-size: 20px;
  border-radius: 0px;
  border-width: 2px;
  text-transform: initial;
}

.share-facebook-btn {
  border-color: #3b5998;
  background-color: #3b5998;
}

.share-facebook-btn:hover {
  border-color: #3b5998;
  color: #3b5998;
  background-color: #ffffff;
}

/* alert */

.alert {
  height: 20px;
  padding: 20px;
  background-color: #D04747;
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.alert img {
  width: 20px;
  cursor: pointer;
  float: right;
}

.footer-panel {
  display: none;
}

.voting-btn {
  border: 1px solid tomato;
  background-color: tomato;
  padding: 10px 30px;
  text-decoration: none;
}

.voting-btn:hover{
  border-color: tomato;
  color: tomato;
  background-color: #ffffff;
}

.stay-tune {
  text-align: center;
  margin-top: 0px;
  font-weight: 500;
}