html,body {
  height:100%;
  margin:0;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 500;
}

/* Navigation bar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: transparent;
  z-index: 1000;
  padding: 10px 5px;
}

.navbar-list {
  margin: 0;
  list-style: none;
}

.navbar-item {
  float: right;
  font-family: 'Raleway';
  color: #222222;
  line-height: 40px;
  padding-top: 5px;
  margin: 0;
  padding: 0 10px;
  font-weight: 600;
  padding: 0 10px;
}

.navbar-item.icon {
  float:left;
}

.navbar-item.icon img {
  width: 40px;
}

.navbar-item.navbar-profile img {
  width: 40px;
  border-radius: 50%;
}

.facebook-logout {
  text-decoration: none;
  color: #222;
  opacity: 0.8;
}

.facebook-logout:hover {
  opacity: 1.0;
}

.container.main-content {
  margin-top: 60px;
}

.no-result {
  width: 100%;
  margin-top: 20px;
}

.no-result .no-result-image {
  display: block;
  margin: auto;
}

.no-result .no-result-desc {
  margin-bottom: 10px;
}

.no-result .no-result-share {

}

.btn-panel {
  text-align: center;
  margin-top: 40px;
}

.share-facebook-btn {
  color: #ffffff;
  border-color: #3b5998;
  background-color: #3b5998;
  height: 50px;
  font-size: 20px;
}

.share-facebook-btn:hover {
  border-color: #3b5998;
  color: #3b5998;
  background-color: #ffffff;
}