html,body {
  margin:0;
  font-family: monospace;
}

/* Navigation bar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: rgba(255,255,255,0.5);
  z-index: 1000;
  padding: 5px 20px;
}

.navbar-list {
  margin: 0;
  list-style: none;
}

.navbar-item {
  float: right;
  font-family: 'Raleway';
  color: #222222;
  line-height: 40px;
  padding-top: 5px;
  margin: 0;
  padding: 0 10px;
  font-weight: 600;
  padding: 0 10px;
}

.navbar-item.icon {
  float:left;
}

.navbar-item.icon img {
  width: 40px;
}

.navbar-item.navbar-profile img {
  width: 40px;
  border-radius: 50%;
}

.facebook-logout {
  text-decoration: none;
  color: #222;
  opacity: 0.8;
}

.facebook-logout:hover {
  opacity: 1.0;
}

.container.main-content {
  margin-top: 60px;
}

span.section-title {
  position: absolute;
  right: -35px;
  top: 5px;
  font-size: 15px;
}

span.title {
  display: block;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: -1px;
  text-align: center;
}

span.constituency-name {
  display: block;
  text-align: center;
}

span.ballot-title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}

.section-ballot-hr {
  width: 16%;
  height: 1px;
  background-color: black;
  border-top: 0;
  opacity: 1;
  margin: 20px auto;
}

.inactive {
  pointer-events: none;
}

.ballot-paper {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 5px 0 #191919, 0 2px 10px 0 #9A9A9A;
  color: #000;
}

.ballot-paper table {
  width: 100%;
  border-color: #000;
}

.ballot-paper table tr,
.ballot-paper table td {
  border-bottom: 5px solid #000;
}

.ballot-paper table tr {
  height: 200px;
}

.ballot-paper table td:nth-of-type(3) {
  position: relative;
}

.ballot-paper table td:nth-of-type(1),
.ballot-paper table td:nth-of-type(3) {
  width: 40%;
}

.ballot-paper table td:nth-of-type(2) {
  width: 20%;
}

.ballot-paper table td:nth-of-type(3) {
  padding: 0;
}

.ballot-paper table td:nth-of-type(3) input {
  opacity: 0;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-block;
  margin: 0;
}

.ballot-paper table td:nth-of-type(3) .cross {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ballot-paper table td:nth-of-type(3) .cross path:first-child {
  stroke-dasharray: 113.137px, 113.137px;
  stroke-dashoffset: 0px;
/*  transition: stroke-dashoffset 0.2s ease-in-out 0s;*/
  stroke: #0A0A0A;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.ballot-paper table td:nth-of-type(3) .cross path:last-child {
  stroke-dasharray: 113.137px, 113.137px;
  stroke-dashoffset: 0px;
  /*transition: stroke-dashoffset 0.2s ease-in-out 0.2s;*/
  stroke: #080808;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.candidate-party-image {
  width: 100%;
}

.candidate-name {
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
}

.btn {
  border: 2px solid;
  text-decoration: none;
  padding: 20px 40px;
  display: block;
  width: 25%;
  margin: auto;
  font-family: 'raleway';
  font-weight: 900;
}

.btn-panel {
  text-align: center;
  margin-top: 20px;
}

.facebook-btn {
  color: #ffffff;
  border-color: #3b5998;
  background-color: #3b5998;
}

.facebook-btn:hover {
  border-color: #3b5998;
  color: #3b5998;
  background-color: #ffffff;
}

input.vote-btn {
  background-color: tomato;
  color: white;
  border-color: tomato;
}

input.vote-btn:hover {
  background-color: white;
  color: tomato;
  border-color: tomato;
}