/*
	color theme:
		green: #468966;
		peach: #fff0a5;
		yellow: #ffb03b;
		orange: #b64926;
		red: #f43d58
*/

.main-panel {
	background: url('../images/sgparliamenthouse.jpg') center bottom no-repeat fixed;
	background-size: cover;
  width: 100%;
}

.icon-header{
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 30px;
}

.icon-header img {
  width: 200px;
}

.content {
  position: relative;
  top: 75%;
  transform: translateY(-75%);
  -webkit-transform: translateY(-75%);
	-ms-transform: translateY(-75%);
  float: left;
  margin-left: 50px;
}

.main-panel:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -40px;
  border-style: solid;
  border-width: 0 40px 40px 40px;
  border-color: transparent transparent #ffffff transparent;
}

.hashtag {
	font-size: 10rem;
  font-weight: 900;
  color: #f43d58;
  text-shadow:
  -2px -2px 0 #FFF,
  2px -2px 0 #Fff,
  -2px 2px 0 #fff,
  2px 2px 0 #fff;
}

.year {
  text-shadow:
  -2px -2px 0 #f43d58,
  2px -2px 0 #F43D58,
  -2px 2px 0 #f43d58,
  2px 2px 0 #f43d58;
  color: #ffffff;
}

.enter-btn {
	color: #ffffff;
	border-color: #f43d58;
  background-color: #f43d58;
}

.enter-btn:hover {
  border-color: #f43d58;
  color: #f43d58;
  background-color: #ffffff;
}

.arrow-down {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -45px;
  z-index: 1;
  border: 0;
  margin-bottom: 0;
}

.features-panel {
	min-height: 250px;
	padding-top: 50px;
}


/*Animation*/

.floating{
    -webkit-animation-name: FloatingWebkit;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: FloatingMoz;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes FloatingWebkit{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 10px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes FloatingMoz{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 10px);}
    to {-moz-transform: translate(0, -0px);}    
}
