.main-panel {
	background: url('../images/sgparliamenthouse.jpg') center bottom no-repeat fixed;
	background-size: cover;
  width: 100%;
}

.icon-header{
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 30px;
}

.icon-header img {
  width: 200px;
}

.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  float: left;
  text-align: center;
}

.content hr {
  margin: 1em;
}

.main-panel:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -40px;
  border-style: solid;
  border-width: 0 40px 40px 40px;
  border-color: transparent transparent #ffffff transparent;
}

.hashtag {
	font-size: 10rem;
  font-weight: 900;
  color: #f43d58;
  text-shadow:
  -2px -2px 0 #FFF,
  2px -2px 0 #Fff,
  -2px 2px 0 #fff,
  2px 2px 0 #fff;
}

.year {
  text-shadow:
  -2px -2px 0 #f43d58,
  2px -2px 0 #F43D58,
  -2px 2px 0 #f43d58,
  2px 2px 0 #f43d58;
  color: #ffffff;
}

.enter-btn {
	color: #ffffff;
	border-color: #f43d58;
  background-color: #f43d58;
}

.enter-btn:hover {
  border-color: #f43d58;
  color: #f43d58;
  background-color: #ffffff;
}

.vote-btn {
  color: #ffffff;
  border-color: #3b5998;
  background-color: #3b5998;
}

.vote-btn:hover {
  border-color: #3b5998;
  color: #3b5998;
  background-color: #ffffff;
}

.vote-btn, .enter-btn {
  display: block;
}

.arrow-down {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -45px;
  z-index: 1;
  border: 0;
  margin-bottom: 0;
}

.features-panel {
	min-height: 250px;
	padding-top: 50px;
}
