html,body {
  height:100%;
  margin:0;
}

.ballot-paper {
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  border: 2px solid #E1E1E1;
  border-radius: 4px
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}