.vote-bar {
	height: 30px;
}

.vote-btn {
	display: block;
	margin: auto;
}

.division-info {
	text-align: center;
}

.constituency-name {
	font-size: 6vw;
	margin-bottom: 0;
  margin-top: 10px;
}

.constituency-details {
	font-size: 2vw;
}

.constituency-map {
	width: 70%;
  margin-top: -5%;
}

.constituency-map .st0 {
	fill:#cccccc;
	stroke:#ffffff;
	opacity: 0.8;
	stroke-width:1.2191;
}

.constituency-map .st0.highlight-map {
	fill: tomato;
	opacity: 1.0;
}

