.vote-bar {
  text-align: center;
	margin: 20px 0;
}

.vote-btn:active {
  webkit-box-shadow: 0 2px 0 0 #2980B9;
  box-shadow: 0 2px 0 0 #2980b9;
  -webkit-transform: translateY(3px);
  -moz-transform: translateY(3px);
  -o-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
}

.vote-btn:hover {
  opacity: 1.0;
}

.vote-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  color: #ECF0F1;
  background-color: #3498DB;
  padding: 15px 100px;
  -webkit-box-shadow: 0 5px 0 0 #2980B9;
  box-shadow: 0 5px 0 0 #2980b9;
  text-shadow: 0 1px 1px #4C4C4C;
  opacity: 0.9;
}

.division-info {
	text-align: center;
}

.constituency-name {
	font-size: 6vw;
	margin-bottom: 0;
  margin-top: 10px;
}

.constituency-details {
	font-size: 2vw;
}

.constituency-map {
	width: 70%;
  margin-top: -5%;
}

.constituency-map .st0 {
	fill:#cccccc;
	stroke:#ffffff;
	opacity: 0.8;
	stroke-width:1.2191;
}

.constituency-map .st0.highlight-map {
	fill: tomato;
	opacity: 1.0;
}

